nav {
  background-color: antiquewhite;
  padding: 0 0 0 40px;
}

nav ul li {
  margin: 5px 0;
  transform: scale(1);
  background-color: transparent;
  transition: 500ms all;
  display: flex;
  align-items: center;
}

nav ul li img {
  width: 20px;
  position: absolute;
  left: -35px;
}

nav ul li:hover {
  transform: scale(1.2);
  cursor: pointer;
}

nav ul {
  margin: 0;
  padding: 0 10px;
  list-style-type: none;
}
