button.cart-button {
  position: relative;
}

img.cart-icon {
  width: 40px;
}

span.cart-amount {
  background-color: red;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 50%;
  padding: 3px 5px;
}
